<mat-card>
  <hello name="{{ name }}"></hello>
<p>
  put your information to start
 {{user|json}}
</p>

<mat-grid-list cols="3" rowHeight="100px">
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
       >
  
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="4"
       >
       <mat-card>
   <div class="example-container">
     <form>
  <mat-form-field>
    <input matInput  [(ngModel)]="user.name" name="username"  placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput  [(ngModel)]="user.email" name="useremail"  placeholder="Email Address">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Type of test" name="testtype"  [(ngModel)]="user.testType"  >
      <mat-option *ngFor="let test of listOfTest"  [value]="test.code">{{test.name}}</mat-option>
   
    </mat-select>
  </mat-form-field>

      <button mat-stroked-button color="primary" (click)="submitCheck()" >Submit</button>

     </form>
</div>
       </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
       >
 
  </mat-grid-tile>
</mat-grid-list>



</mat-card>